@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #004052;
    --secondary-color: #3FA7D6;
    --accent1-color: #FFFFFF;
    --accent2-color: #fbbd04;

    --heading-font: 'Raleway', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #004052;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #e7ebda;
    --nav-hover-background-color: #012029;
}
/*HEADER*/
header {
    display: grid;
    max-width: 100%;
    background-color: var(--primary-color);
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; /*To horizontally center the items*/
    align-items: center; /*To vertically center the items*/
    margin: 0 auto; /*To center the div*/
    grid-auto-rows: minmax(125px, auto);
    


}

.hero {
    position: relative;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


#navigation-bar {
    margin: 5px;
    grid-column: 2/4;
    grid-auto-rows: minmax(10px, auto);
    display: flex;
    flex-wrap: wrap;
}

#navigation-bar li {
    flex: 1 1 100%;

}

#navigation-bar a {
    color: var(--nav-background-color);
    width: 9em;
    padding: 1px 10px;
    border: 1px solid black;
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
    text-align: center;

}

.logo {
    max-width: 7.5em;
    height: auto;
}

/*BODY*/

body {
    overflow-x: hidden;
}


h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h3, h4 {
    color: var(--primary-color);
}

p, figcaption {
    font-family: var(--paragraph-font);
    font-size: 1.1em;
}

.wrap-main {
    /* father grid | Body's son */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5,1fr);
    position: relative;
}

/* CALL TO ACTION DIV */

.call-to-action-div {
    /* .wrap-main son grid */
    grid-column: 1/13;
    grid-row: 1/3;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);

}

.wrap-rafting-main-picture-bat img {
    width: 100%;
    height: 100%;
    min-width: 100px;
}

.wrap-rafting-main-picture-bat {
    grid-column: 1/4;
    grid-row: 1/5;
}

.wrap-headers-and-button {
    /* .call-to-action son grid */
    /* the wrap takes care of the position and the box surrounding the h1 */

    z-index: 1;
    grid-column: 1/13;
    grid-row: 1/5;
    background-color: var(--primary-color);
    /* border-radius: .9em; */
    width: 100%;
    display: grid;
    background: linear-gradient(rgba(0,64,82, .0),rgba(0,64,82, .5), var(--primary-color));
    /* apllying a gradient to the h1 */
    grid-template-columns: repeat(3, 1fr);
    /* this columns only exists here... */
    grid-template-rows: repeat(4,1fr);
}

h1 {
    /* positioning and style */
    font-size: 4em;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 10px ;
    padding: 0 10px;
    align-self: end;
    justify-self: center;
    grid-row: 1/3;

}

.wrap-headers-and-button h2 {
    /* positioning and style */
    font-size: 2em;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    grid-row: 4/5;
    grid-column: 1/4;
    align-self: center;
    justify-self: center;
}

.trips-link {
    /* h2 son */
    text-decoration: none;
    color: var(--accent2-color);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.view-images-and-videos-button{
    /* positioning of the .view-images-and-videos */
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: start;
    justify-self: start;
    width: 20em;
    margin: 10px 20px;
    height: auto;
}

.view-images-and-videos {
    /* only for estethic but not for positioning */
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    padding: 20px 10px;
    /* border-radius: 1em; */
    text-align: center;
    font-size: large;

}
/* action and hover for .view-images-and-videos and .trips-link */
.view-images-and-videos:hover {
    color: var(--primary-color);
    background-color: var(--accent1-color);
    font-weight: bold;
}
.view-images-and-videos:active {
    color: var(--accent1-color);
    background-color: var(--primary-color);
}

.trips-link:hover{
    color: rgb(255, 25, 0);
}


/* main-content-area DIV */
.main-content-area{
    /* wrap-main son grid */
    display: grid;
    grid-column: 1/13;
    grid-row: 3/6;
    grid-template-columns: 65% 35%;
    /* grid-template-rows: repeat(3, 1fr); */
}

/* form-field */

.information-field {
    /* main-content-area son grid */
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 10px;
    margin: 10px;
}

.form-field {
    /* main-content-area son grid */
    padding: 10px;
}

form {
    position: sticky;
    top: 25%;
}


fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 20em;
    gap: 20px;
    border: 2px solid gray;
    margin: 0 auto 0;
    
}

input[type="text"],
input[type="email"] {
    
    margin: 0;
    padding: 5px;
    border: 2px solid grey;
    border-radius: .4em;
    font-size: 1em;
    height: 2.5em;
    width: 17em;
    font-family: var(--paragraph-font)
}

button {
    width: 9em;
    height:4em;
    justify-self: center;
    background-color: var(--nav-hover-background-color);
    color: var(--accent1-color);
    border-radius: .5em;
    font-family: var(--paragraph-font);
}

form p{
    font-family: var(--paragraph-font);
    text-align: center;
    justify-self: end;
    align-self: end;
}

/* information-field */

/* .purpose-section */

.purpose-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
 /* Ajusta el espacio entre la imagen y el texto */
    align-items: end; /* Alinea los elementos en la parte inferior */
    /* padding: 20px; */
    column-gap: 20px;
    row-gap: 10px;
    margin: 0px ;
    
}

h3 {
    font-size: 1.5em;
}

.purpose-section p {
    margin: 0;
    align-self: center;
    justify-self: center;
    text-align: justify;
}

.purpose-figure {
    /* this is the wrap for the image */
    width: 100%;
    height: 100%;
    margin: 0;
    grid-column: 1/2;
}

.purpose-figure img {
    width: 100%;
    height: 100%;
    border-radius: .5em;
}

/* trip-overview section */

.trip-overview-section {
    display: grid;
    grid-template-rows: repeat(2, 1fr) auto;
    gap: 10px;
}

.trip-overview-section h3 {
    grid-row: 1/2;

}

.trip-overview-section p {
    grid-row: 2/3;

}

.trip-overview-figure {
    grid-row: 3/4;

    display: grid;

    /* Dont allow the heigh to be taller than expected */
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.trip-overview-figure img {
    width: 100%;
    height: auto;
}

.trip-overview-figure figcaption {
    justify-self: center;
    grid-column: 1/3;
}


#pic-1, #pic-2 {
    /* this pictures are shorther than i thought */
    align-self: end;
}

#pic-4{
    /* only for this pic that is smaller than expected */
    height: 100%;
}

/* trip-information-section */

.trip-information-section {
    display: inline-flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    text-align: left;
}

.trip-information-content h3,
 .trip-information-content h4,
  .trip-information-content p {

    padding: 10px;
}

.accomodation-options p a {
    text-decoration:underline;
    color: blue;
}

/*FOOTER*/
footer {
    font-family: var(--paragraph-font);
    display: flex;
    align-items: center;
    padding: 10px;
    height: 4em;
    border-top: 1px solid var(--primary-color);
    /* margin-top: 10px; */
}

footer p {
    /* the copyright text */
    text-align: center;
    margin: 0;
    flex: 1;
}

.navigation-bar-bottom {
    /* the nav that contains the three links */
    display: flex;
    gap: 10px;

}

.navigation-bar-bottom a img {
    /* The links */
    width: 20px;
    height: auto;
}

/* Removing the underline from the img link */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

