@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #004052;
    --secondary-color: #3FA7D6;
    --accent1-color: #FFFFFF;
    --accent2-color: #28B715;

    --heading-font: 'Raleway', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #004052;
    --nav-link-color: #FFFFFF;
    --nav-hover-link-color: #e7ebda;
    --nav-hover-background-color: #012029;
}
/*HEADER*/
header {
    display: grid;
    max-width: 100%;
    background-color: var(--primary-color);
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center; /*To horizontally center the items*/
    align-items: center; /*To vertically center the items*/
    margin: 0 auto; /*To center the div*/
    grid-auto-rows: minmax(125px, auto);
    


}

.hero {
    position: relative;
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


#navigation-bar {
    margin: 5px;
    grid-column: 2/4;
    grid-auto-rows: minmax(10px, auto);
    display: flex;
    flex-wrap: wrap;
}

#navigation-bar li {
    flex: 1 1 100%;

}

#navigation-bar a {
    color: var(--nav-background-color);
    width: 9em;
    padding: 1px 10px;
    border: 1px solid black;
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
    text-align: center;

}

.logo {
    max-width: 7.5em;
    height: auto;
}

/*BODY*/

body {
    overflow-x: hidden;
}

.wrap-main {
    /* father grid | Body's son */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5,1fr);
    position: relative;
}

/* CALL TO ACTION DIV */

.call-to-action-div {
    /* .wrap-main son grid */
    grid-column: 1/13;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 25%);

}

.wrap-rafting-main-picture-bat img {
    width: 100%;
    height: 100%;
    min-width: 100px;
}

.wrap-rafting-main-picture-bat {
    grid-column: 1/4;
    grid-row: 1/5;
}

.wrap-h1-button {
    /* .wrap-main son grid */
    /* the wrap takes care of the position and the box surrounding the h1 */
     /* this h1 will inherit the .wrap-main's grid */
    z-index: 1;
    grid-column: 1/13;
    grid-row: 2/5;
    background-color: var(--primary-color);
    /* border-radius: .9em; */
    width: 100%;
    display: grid;
    background: linear-gradient(rgba(0,64,82, .0),rgba(0,64,82, .5), var(--primary-color));
    /* apllying a gradient to the h1 */

    grid-template-rows: repeat(3,33.33%);
}

h1 {
    font-size: 4em;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin: 0;
    padding: 0 10px;
    align-self: center;
    justify-self: center;
    grid-row: 2/3;

}

.wrap-h1-button a{
    /* positioning of the .lest-go-button */
    grid-row: 3/4;
    align-self: start;
    justify-self: center;
    width: 13em;
    height: auto;
}

.lets-go-button {
    /* only for estethic but not for positioning */
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 1em;
    text-align: center;
    font-size: large;

}
/* action and hover for .lets-go-button */
.lets-go-button:hover {
    color: var(--primary-color);
    background-color: var(--accent1-color);
    font-weight: bold;
}
.lets-go-button:active {
    color: var(--accent1-color);
    background-color: var(--primary-color);
}



/* END CALL TO ACTION DIV */
/* TRIP DETAILS MAIN CONTENT */

.trips-details-main-content {
    /* .wrap-main son's grid  */
    grid-row: 3/7;
    grid-column: 1/13;
    /* border: 1px solid black; */
    background-color: var(--primary-color);
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 10px;
}

/* Article */
.travelers-choice {
    /* .trips-details-main-content son's grid */
    background-color: var(--nav-hover-background-color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 0 1em 0 0;
}

.wrap-h2-travelers-choice {
    /* only positioning */
    align-self: center;
}

/* .h2-travelers-choice{
    /* only styling */
    /* nothing here for now */

.trip-travelers-choice{
    /* .travelers-choice son's flex */
    width: 90%;
    /* border: 1px solid black; */
    background-color: var(--accent1-color);
    border-radius: 1em;
    /* since the flex is a column, justify and align are inverted */
    align-self: center;
    margin: 10px 0;
    /* padding: 10px; */
    text-align: center;

}

.trip-travelers-choice img {
    width: 100%;
    max-height: 15em;
    border-radius: 1em 1em 0 0;
}

/* end article */
/* section */

.trips-main-information {
    /* .trips-details-main-content son's grid */
    /* background-color: rgb(224, 32, 32); */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.wrap-h2 {
    /* Only positioning */
    justify-self: start;
    align-self: center;
    background-color: var(--primary-color);
    
}

h2 {
    /* only styling */
    font-size: 2em;
    font-family: var(--heading-font);
    color: var(--accent1-color);
    margin: 0;
    padding: 0 10px;
}

.newest-trips {
    /* .trips-main-information son's flex */
    /* border: 1px solid black; */
    width: 100%;
    max-height: 300px;
    height: 20%;
    display: grid;
    grid-template-columns: 75% 25% ;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    /* this gap separates the buttons and the information boxes */
    padding-left: 20px;
    margin: 15px

}

.newest-trips figure {
    width: 100%;
    height: auto;
    grid-row: 1/3;
    grid-column: 1/2;
    justify-self: end;
    align-self: center;
    border-radius: 1em;
    /* border: 2px solid black; */
    background-color: #e7ebda;
    
}

.newest-trips img {
    width: 60%;
    height: auto;
    max-height: 300px;
    float: left;
    margin-right: 15px;
    border-radius: 1em 0 0 1em;
}

figure h3 {
    margin: 15px;
    text-align: center;
    font-family: var(--heading-font);
}

figure figcaption{
    margin: 15px 15px 0 15px;
    padding: 10px 0;
    text-align: justify;
    font-family: var(--paragraph-font);
    
}


.book-now-link {
    /* only positioning */
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: start;
    align-self: end;
}

.view-link {
    /* only positioning */
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: start;
    align-self: start;
}


.book-now-link div, .view-link div {
    /* only styling for the book now and view buttons*/
    color: var(--accent1-color);
    font-family: var(--paragraph-font);
    background-color: var(--nav-hover-background-color);
    padding: 10px;
    border-radius: 1em;
    min-width: 120px;
    max-height: 50px;
    text-align: center;
    
}

/* hover, activations for book now and view */
.book-now-link div:hover, .view-link div:hover {
    color: var(--primary-color);
    background-color: var(--accent1-color);
    font-weight: bold;
}

.book-now-link div:active, .view-link div:active {
    color: var(--accent1-color);
    background-color: var(--primary-color);
}

/* end section */
/*FOOTER*/
footer {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 4em;
    border-top: 1px solid var(--primary-color);
    margin-top: 10px;
}

footer p {
    /* the copyright text */
    text-align: center;
    margin: 0;
    flex: 1;
}

.navigation-bar-bottom {
    /* the nav that contains the three links */
    display: flex;
    gap: 10px;

}

.navigation-bar-bottom a img {
    /* The links */
    width: 20px;
    height: auto;
}

/* Removing the underline from the img link */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

